*{
    margin: 0%;
}
body{
    font-family: 'Teko', sans-serif;
    color: white;
    background-color: #F8F0FB;
}
header{
    display: flex;
    background-image: url(../../imagenes/fondo.jpg);
    width: 100%;
    height: 60%;
    background-size: cover;

    .titulo{
        display: flex;
        color: white;
        width: 10%;
        height: 100%;
        font-size: 3.5em;
        padding: 0em 1em;
    }
    .menu{
        display: inline-flex;
        width: 90%;
        height: 100%;
        justify-content: flex-end;
        font-size: 2em;
        text-align: center;
    }
    .menu ul{
        margin: 0em;
        padding: 0em;
        background-color: rgba(0,0,0,.5);
    }
    .menu ul li{
        height: 25%;
        display: block;
    }
    .menu ul li a{
        height: 35%;
        color: white;
        display: flex;
        padding: 1.5em 1em;
        text-decoration: none;
        justify-content: center;
        transition-duration: 0.5s;
    }
    .menu ul li a:hover{
        background-color: #993399;
    }
}
@media screen and (max-width: 1100px){
    header{
        flex-direction: column-reverse;
        .titulo{
            display: flex;
            width: 34.2%;
            font-size: 2em;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0em 1em;
            margin-left: 10em;
            margin-top: 8em;
        }
        .menu{
            display: inline-flex;
            width: 100%;
            height: 31%;
            ul{
                width: 100%;
                height: 2.3em;
            }
            ul li{
                display: inline-flex;
                align-items: center;
                margin: 0.4em;
            }
        }
    }
}
