*{
    margin: 0%;
}
body{
    font-family: 'Teko', sans-serif;
    color: white;
    background-color: #F1E4E8;
}
header{
    display: flex;
    background-image: url(../../imagenes/fondo.jpg);
    width: 100%;
    height: 60%;
    background-size: cover;

    .titulo{
        display: flex;
        color: white;
        width: 10%;
        height: 100%;
        font-size: 3.5em;
        padding: 0em 1em;
    }
    .menu{
        display: inline-flex;
        width: 90%;
        height: 100%;
        justify-content: flex-end;
        font-size: 2em;
        text-align: center;
    }
    .menu ul{
        margin: 0em;
        padding: 0em;
        background-color: rgba(0,0,0,.5);
    }
    .menu ul li{
        height: 25%;
        display: block;
    }
    .menu ul li a{
        height: 35%;
        color: white;
        display: flex;
        padding: 1.5em 1em;
        text-decoration: none;
        justify-content: center;
        transition-duration: 0.5s;
    }
    .menu ul li a:hover{
        background-color: #993399;
    }
}

footer{
    background: black;
    padding: 1em;
    font-size: 2.5em;
    text-align: center;
}
.partes1, .partes2, .partes3{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 1em;
    h1{
        margin-top: 1em;
        font-size: 2.3em;
    }
    img{
        margin-top: 1em;
        border-radius: 200%;
    }
    .procesador, .ram, .motherboard, .fuente, .disipador, .disco, .tarjeta, .chasis, .ventilador, .refrigeracion{
        width: 23%;
        background: #993399;
        margin: 1% 2%;
        text-align: center;
        transition-duration: 1s;
        border-radius: 10%;
    }
    .disipador:hover, .disco:hover, .tarjeta:hover, .chasis:hover, .procesador:hover, .ram:hover, .motherboard:hover, .fuente:hover, .ventilador:hover, .refrigeracion:hover{
        transform: scale(1.1);
    }
}
.informacion_1, .informacion_2, .informacion_3{
    display: flex;
    justify-content: center;
    .informacion1, .informacion2, .informacion3, .informacion4, .informacion5, .informacion6, .informacion7, .informacion8, .informacion9, .informacion10, {
        margin-top: 1em;
        display: none;
        width: 95%;
        height: 100%;
        background: rgba(0,0,0,.5);
    }
}
@media screen and (max-width: 1100px){
    header{
        flex-direction: column-reverse;
        .titulo{
            display: flex;
            width: 34.2%;
            font-size: 2em;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0em 1em;
            margin-left: 10em;
            margin-top: 8em;
        }
        .menu{
            display: inline-flex;
            width: 100%;
            height: 31%;
            ul{
                width: 100%;
                height: 2.3em;
            }
            ul li{
                display: inline-flex;
                align-items: center;
                margin: 0.4em;
            }
        }
    }
    .partes1, .partes2, .partes3{
        img{
            margin-top: 1em;
            border-radius: 200%;
            width: 100%;
        }
    }
}
