* {
  margin: 0%;
}

body {
  font-family: 'Teko', sans-serif;
  color: white;
  background-color: #F8F0FB;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../imagenes/fondos/fondo4.jpg);
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}

header .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 80%;
  font-size: 4em;
  margin-top: 0em;
  margin-left: 1em;
  color: white;
}

header .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2em;
  text-align: center;
}

header .menu ul {
  margin: 0em;
  padding: 0em;
  background-color: rgba(0, 0, 0, 0.5);
}

header .menu ul li {
  height: 25%;
  display: block;
}

header .menu ul li a {
  height: 35%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 1em;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

header .menu ul li a:hover {
  background-color: #2a9134;
}

.padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin: auto;
  border-radius: 1em;
  height: 50%;
  margin-top: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2a9134;
}

.padre .titulo {
  margin-top: 2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  height: 25%;
}

.padre .titulo .devolver, .padre .titulo .siguiente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.padre .titulo .devolver:hover, .padre .titulo .siguiente:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.padre .titulo .montar, .padre .titulo .mantenimiento, .padre .titulo .perifericos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7em;
}

footer {
  background: black;
  padding: 1em;
  font-size: 2.5em;
  text-align: center;
  margin-top: 2em;
}

@media screen and (max-width: 1100px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 34.2%;
    font-size: 3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0em 1em;
    margin-left: 6.5em;
    margin-top: 3em;
  }
  header .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 31%;
  }
  header .menu ul {
    width: 100%;
    height: 2.3em;
  }
  header .menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.4em;
  }
}
/*# sourceMappingURL=estilo_cuarto.css.map */