* {
  margin: 0%;
}

body {
  font-family: 'Teko', sans-serif;
  color: white;
  background-color: #F1E4E8;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../imagenes/fondos/fondo3.jpg);
  width: 100%;
  height: 60%;
  background-size: cover;
}

header .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 10%;
  height: 100%;
  font-size: 3.5em;
  padding: 0em 1em;
}

header .menu, header .menu2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2em;
  text-align: center;
}

header .menu ul, header .menu2 ul {
  margin: 0em;
  padding: 0em;
  background-color: rgba(0, 0, 0, 0.5);
}

header .menu ul li, header .menu2 ul li {
  height: 25%;
  display: block;
}

header .menu ul li a, header .menu2 ul li a {
  height: 35%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 1em;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .menu ul li a:hover, header .menu2 ul li a:hover {
  background-color: #de1a1a;
}

header .menu2 {
  width: 100%;
}

header .usur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header .usur .cerrar {
  margin: 2em;
  width: 25%;
  height: 2%;
}

.panel {
  margin-top: 4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel .iniciar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  background: #de1a1a;
  border-radius: 10px;
  border: 1px solid black;
}

.panel .iniciar h1 {
  margin: auto;
  font-size: 7em;
}

.panel .iniciar .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.panel .iniciar .formulario p {
  font-size: 2.5em;
}

.panel .iniciar .formulario .user, .panel .iniciar .formulario .password, .panel .iniciar .formulario .enviar {
  width: 13em;
  height: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 1em;
  margin-right: 1em;
  border: 0.1em solid white;
  font-family: 'Teko', sans-serif;
  font-size: 1.6em;
}

.panel .iniciar .formulario .enviar {
  background-color: rgba(102, 51, 153, 0);
  color: white;
  width: 8em;
  height: 2.5em;
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.panel .iniciar .formulario .enviar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.panel .registrarse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.panel .registrarse h1 {
  margin: auto;
  font-size: 7em;
  color: #de1a1a;
}

.panel .registrarse .formulario2 {
  width: 100%;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.panel .registrarse .formulario2 .campos_1, .panel .registrarse .formulario2 .campos_2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel .registrarse .formulario2 .campos_1 .textos1, .panel .registrarse .formulario2 .campos_1 .textos2, .panel .registrarse .formulario2 .campos_2 .textos1, .panel .registrarse .formulario2 .campos_2 .textos2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel .registrarse .formulario2 .campos_1 .textos1 p, .panel .registrarse .formulario2 .campos_1 .textos2 p, .panel .registrarse .formulario2 .campos_2 .textos1 p, .panel .registrarse .formulario2 .campos_2 .textos2 p {
  margin-left: 1em;
  font-size: 2.5em;
  color: #de1a1a;
}

.panel .registrarse .formulario2 .campos_1 .textos1 .nombre, .panel .registrarse .formulario2 .campos_1 .textos1 .user, .panel .registrarse .formulario2 .campos_1 .textos1 .correo, .panel .registrarse .formulario2 .campos_1 .textos1 .password, .panel .registrarse .formulario2 .campos_1 .textos1 .repetir, .panel .registrarse .formulario2 .campos_1 .textos1 .enviar, .panel .registrarse .formulario2 .campos_1 .textos2 .nombre, .panel .registrarse .formulario2 .campos_1 .textos2 .user, .panel .registrarse .formulario2 .campos_1 .textos2 .correo, .panel .registrarse .formulario2 .campos_1 .textos2 .password, .panel .registrarse .formulario2 .campos_1 .textos2 .repetir, .panel .registrarse .formulario2 .campos_1 .textos2 .enviar, .panel .registrarse .formulario2 .campos_2 .textos1 .nombre, .panel .registrarse .formulario2 .campos_2 .textos1 .user, .panel .registrarse .formulario2 .campos_2 .textos1 .correo, .panel .registrarse .formulario2 .campos_2 .textos1 .password, .panel .registrarse .formulario2 .campos_2 .textos1 .repetir, .panel .registrarse .formulario2 .campos_2 .textos1 .enviar, .panel .registrarse .formulario2 .campos_2 .textos2 .nombre, .panel .registrarse .formulario2 .campos_2 .textos2 .user, .panel .registrarse .formulario2 .campos_2 .textos2 .correo, .panel .registrarse .formulario2 .campos_2 .textos2 .password, .panel .registrarse .formulario2 .campos_2 .textos2 .repetir, .panel .registrarse .formulario2 .campos_2 .textos2 .enviar {
  margin-left: 2em;
  margin-right: 2em;
  margin: 1em;
  width: 20em;
  font-family: 'Teko', sans-serif;
}

.panel .registrarse .formulario2 .campos_1 .textos1 .enviar, .panel .registrarse .formulario2 .campos_1 .textos2 .enviar, .panel .registrarse .formulario2 .campos_2 .textos1 .enviar, .panel .registrarse .formulario2 .campos_2 .textos2 .enviar {
  margin: auto;
  margin-top: 1em;
  background-color: rgba(102, 51, 153, 0);
  color: #de1a1a;
  border: 0.1em solid #de1a1a;
  width: 8em;
  height: 2.5em;
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.panel .registrarse .formulario2 .campos_1 .textos1 .enviar:hover, .panel .registrarse .formulario2 .campos_1 .textos2 .enviar:hover, .panel .registrarse .formulario2 .campos_2 .textos1 .enviar:hover, .panel .registrarse .formulario2 .campos_2 .textos2 .enviar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.instrucciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 5em;
}

.instrucciones .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: -1em;
  color: #de1a1a;
}

.instrucciones .titulo h1 {
  margin: auto;
}

.instrucciones .titulo p {
  padding: 1em 2em;
  text-align: justify;
  color: black;
  font-size: .7em;
}

.armar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.armar .hard, .armar .mod, .armar .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.armar .hard .hardwares, .armar .hard .modelos_procesador, .armar .hard .modelos_motherboard, .armar .hard .modelos_ram, .armar .hard .modelos_fuente, .armar .hard .modelos_disipador, .armar .hard .modelos_discoduro, .armar .hard .modelos_tarjeta, .armar .hard .modelos_chasis, .armar .hard .modelos_ventiladores, .armar .hard .modelos_refrigeracion, .armar .hard .buscar, .armar .mod .hardwares, .armar .mod .modelos_procesador, .armar .mod .modelos_motherboard, .armar .mod .modelos_ram, .armar .mod .modelos_fuente, .armar .mod .modelos_disipador, .armar .mod .modelos_discoduro, .armar .mod .modelos_tarjeta, .armar .mod .modelos_chasis, .armar .mod .modelos_ventiladores, .armar .mod .modelos_refrigeracion, .armar .mod .buscar, .armar .boton .hardwares, .armar .boton .modelos_procesador, .armar .boton .modelos_motherboard, .armar .boton .modelos_ram, .armar .boton .modelos_fuente, .armar .boton .modelos_disipador, .armar .boton .modelos_discoduro, .armar .boton .modelos_tarjeta, .armar .boton .modelos_chasis, .armar .boton .modelos_ventiladores, .armar .boton .modelos_refrigeracion, .armar .boton .buscar {
  margin: 1em;
  padding: 0.8em;
  width: 80%;
  font-size: 2.5em;
  border-radius: 0.5em;
  border: 0.1pc solid #de1a1a69;
  background-color: rgba(102, 51, 153, 0);
  font-family: 'Teko', sans-serif;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.armar .hard .hardwares:hover, .armar .hard .modelos_procesador:hover.modelos_procesador:hover, .armar .hard .modelos_motherboard:hover, .armar .hard .modelos_ram:hover, .armar .hard .modelos_fuente:hover, .armar .hard .modelos_disipador:hover, .armar .hard .modelos_discoduro:hover, .armar .hard .modelos_tarjeta:hover, .armar .hard .modelos_chasis:hover, .armar .hard .modelos_ventiladores:hover, .armar .hard .modelos_refrigeracion:hover, .armar .hard .buscar:hover, .armar .mod .hardwares:hover, .armar .mod .modelos_procesador:hover.modelos_procesador:hover, .armar .mod .modelos_motherboard:hover, .armar .mod .modelos_ram:hover, .armar .mod .modelos_fuente:hover, .armar .mod .modelos_disipador:hover, .armar .mod .modelos_discoduro:hover, .armar .mod .modelos_tarjeta:hover, .armar .mod .modelos_chasis:hover, .armar .mod .modelos_ventiladores:hover, .armar .mod .modelos_refrigeracion:hover, .armar .mod .buscar:hover, .armar .boton .hardwares:hover, .armar .boton .modelos_procesador:hover.modelos_procesador:hover, .armar .boton .modelos_motherboard:hover, .armar .boton .modelos_ram:hover, .armar .boton .modelos_fuente:hover, .armar .boton .modelos_disipador:hover, .armar .boton .modelos_discoduro:hover, .armar .boton .modelos_tarjeta:hover, .armar .boton .modelos_chasis:hover, .armar .boton .modelos_ventiladores:hover, .armar .boton .modelos_refrigeracion:hover, .armar .boton .buscar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background: black;
  padding: 1em;
  margin-top: 2em;
  font-size: 2.5em;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 34.2%;
    font-size: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0em 1em;
    margin-left: 10em;
    margin-top: 8em;
  }
  header .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 31%;
  }
  header .menu ul {
    width: 100%;
    height: 2.3em;
  }
  header .menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5em;
  }
  .panel .iniciar h1, .panel .registrarse h1 {
    font-size: 5em;
  }
  .panel .iniciar .formulario, .panel .registrarse .formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .panel .iniciar .formulario .enviar, .panel .registrarse .formulario .enviar {
    margin-top: 1em;
  }
  .panel .iniciar .formulario2 .campos_1 .textos1, .panel .iniciar .formulario2 .campos_1 .textos2, .panel .iniciar .formulario2 .campos_2 .textos1, .panel .iniciar .formulario2 .campos_2 .textos2, .panel .registrarse .formulario2 .campos_1 .textos1, .panel .registrarse .formulario2 .campos_1 .textos2, .panel .registrarse .formulario2 .campos_2 .textos1, .panel .registrarse .formulario2 .campos_2 .textos2 {
    width: 100%;
  }
  .panel .iniciar .formulario2 .campos_1 .textos1 p, .panel .iniciar .formulario2 .campos_1 .textos2 p, .panel .iniciar .formulario2 .campos_2 .textos1 p, .panel .iniciar .formulario2 .campos_2 .textos2 p, .panel .registrarse .formulario2 .campos_1 .textos1 p, .panel .registrarse .formulario2 .campos_1 .textos2 p, .panel .registrarse .formulario2 .campos_2 .textos1 p, .panel .registrarse .formulario2 .campos_2 .textos2 p {
    font-size: 2em;
  }
  .panel .iniciar .formulario2 .campos_1 .textos1 .nombre, .panel .iniciar .formulario2 .campos_1 .textos1 .user, .panel .iniciar .formulario2 .campos_1 .textos1 .correo, .panel .iniciar .formulario2 .campos_1 .textos1 .password, .panel .iniciar .formulario2 .campos_1 .textos1 .repetir, .panel .iniciar .formulario2 .campos_1 .textos2 .nombre, .panel .iniciar .formulario2 .campos_1 .textos2 .user, .panel .iniciar .formulario2 .campos_1 .textos2 .correo, .panel .iniciar .formulario2 .campos_1 .textos2 .password, .panel .iniciar .formulario2 .campos_1 .textos2 .repetir, .panel .iniciar .formulario2 .campos_2 .textos1 .nombre, .panel .iniciar .formulario2 .campos_2 .textos1 .user, .panel .iniciar .formulario2 .campos_2 .textos1 .correo, .panel .iniciar .formulario2 .campos_2 .textos1 .password, .panel .iniciar .formulario2 .campos_2 .textos1 .repetir, .panel .iniciar .formulario2 .campos_2 .textos2 .nombre, .panel .iniciar .formulario2 .campos_2 .textos2 .user, .panel .iniciar .formulario2 .campos_2 .textos2 .correo, .panel .iniciar .formulario2 .campos_2 .textos2 .password, .panel .iniciar .formulario2 .campos_2 .textos2 .repetir, .panel .registrarse .formulario2 .campos_1 .textos1 .nombre, .panel .registrarse .formulario2 .campos_1 .textos1 .user, .panel .registrarse .formulario2 .campos_1 .textos1 .correo, .panel .registrarse .formulario2 .campos_1 .textos1 .password, .panel .registrarse .formulario2 .campos_1 .textos1 .repetir, .panel .registrarse .formulario2 .campos_1 .textos2 .nombre, .panel .registrarse .formulario2 .campos_1 .textos2 .user, .panel .registrarse .formulario2 .campos_1 .textos2 .correo, .panel .registrarse .formulario2 .campos_1 .textos2 .password, .panel .registrarse .formulario2 .campos_1 .textos2 .repetir, .panel .registrarse .formulario2 .campos_2 .textos1 .nombre, .panel .registrarse .formulario2 .campos_2 .textos1 .user, .panel .registrarse .formulario2 .campos_2 .textos1 .correo, .panel .registrarse .formulario2 .campos_2 .textos1 .password, .panel .registrarse .formulario2 .campos_2 .textos1 .repetir, .panel .registrarse .formulario2 .campos_2 .textos2 .nombre, .panel .registrarse .formulario2 .campos_2 .textos2 .user, .panel .registrarse .formulario2 .campos_2 .textos2 .correo, .panel .registrarse .formulario2 .campos_2 .textos2 .password, .panel .registrarse .formulario2 .campos_2 .textos2 .repetir {
    width: 70%;
  }
  .instrucciones .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    margin-bottom: 0.1em;
  }
  .instrucciones .titulo h1 {
    width: 90%;
    margin: auto;
    font-size: 1.3em;
  }
  .instrucciones .titulo p {
    padding: 1em;
    font-size: 0.5em;
  }
  .armar .hard, .armar .mod, .armar .boton {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0em;
  }
  .armar .hard .hardwares, .armar .hard .modelos_procesador, .armar .hard .modelos_motherboard, .armar .hard .modelos_ram, .armar .hard .modelos_fuente, .armar .hard .modelos_disipador, .armar .hard .modelos_discoduro, .armar .hard .modelos_tarjeta, .armar .hard .modelos_chasis, .armar .hard .modelos_ventiladores, .armar .hard .modelos_refrigeracion, .armar .hard .buscar, .armar .mod .hardwares, .armar .mod .modelos_procesador, .armar .mod .modelos_motherboard, .armar .mod .modelos_ram, .armar .mod .modelos_fuente, .armar .mod .modelos_disipador, .armar .mod .modelos_discoduro, .armar .mod .modelos_tarjeta, .armar .mod .modelos_chasis, .armar .mod .modelos_ventiladores, .armar .mod .modelos_refrigeracion, .armar .mod .buscar, .armar .boton .hardwares, .armar .boton .modelos_procesador, .armar .boton .modelos_motherboard, .armar .boton .modelos_ram, .armar .boton .modelos_fuente, .armar .boton .modelos_disipador, .armar .boton .modelos_discoduro, .armar .boton .modelos_tarjeta, .armar .boton .modelos_chasis, .armar .boton .modelos_ventiladores, .armar .boton .modelos_refrigeracion, .armar .boton .buscar {
    width: 100%;
    margin: 8%;
  }
}

@media screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-size: cover;
    background-position-y: 0em;
    background-position-x: -11em;
  }
  header .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45.2%;
    font-size: 1.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0em 1em;
    margin-left: 4em;
    margin-top: 8em;
  }
  header .menu, header .menu2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 31%;
  }
  header .menu ul, header .menu2 ul {
    width: 100%;
    height: 1.4em;
  }
  header .menu ul li, header .menu2 ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.2em;
    font-size: 0.4em;
  }
  header .menu2 {
    height: 100%;
  }
  .panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .panel .iniciar, .panel .registrarse {
    width: 100%;
  }
  .panel .iniciar h1, .panel .registrarse h1 {
    font-size: 4em;
  }
  .panel .iniciar .formulario, .panel .iniciar .formulario2, .panel .registrarse .formulario, .panel .registrarse .formulario2 {
    height: 100%;
    margin-bottom: 2em;
  }
  .instrucciones .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .instrucciones .titulo h1 {
    width: 90%;
    margin: auto;
    font-size: 1em;
  }
  .instrucciones .titulo p {
    padding: 1em;
    font-size: 0.5em;
  }
  .armar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .armar .hard, .armar .mod, .armar .boton {
    width: 100%;
    margin-left: 0em;
    margin-right: 1em;
    padding: 0em;
  }
  .armar .hard .hardwares, .armar .hard .modelos_procesador, .armar .hard .modelos_motherboard, .armar .hard .modelos_ram, .armar .hard .modelos_fuente, .armar .hard .modelos_disipador, .armar .hard .modelos_discoduro, .armar .hard .modelos_tarjeta, .armar .hard .modelos_chasis, .armar .hard .modelos_ventiladores, .armar .hard .modelos_refrigeracion, .armar .hard .buscar, .armar .mod .hardwares, .armar .mod .modelos_procesador, .armar .mod .modelos_motherboard, .armar .mod .modelos_ram, .armar .mod .modelos_fuente, .armar .mod .modelos_disipador, .armar .mod .modelos_discoduro, .armar .mod .modelos_tarjeta, .armar .mod .modelos_chasis, .armar .mod .modelos_ventiladores, .armar .mod .modelos_refrigeracion, .armar .mod .buscar, .armar .boton .hardwares, .armar .boton .modelos_procesador, .armar .boton .modelos_motherboard, .armar .boton .modelos_ram, .armar .boton .modelos_fuente, .armar .boton .modelos_disipador, .armar .boton .modelos_discoduro, .armar .boton .modelos_tarjeta, .armar .boton .modelos_chasis, .armar .boton .modelos_ventiladores, .armar .boton .modelos_refrigeracion, .armar .boton .buscar {
    width: 100%;
    margin: 8%;
  }
}
/*# sourceMappingURL=estilo_tercero.css.map */