* {
  margin: 0%;
}

body {
  font-family: 'Teko', sans-serif;
  color: white;
  background-color: #F8F0FB;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../imagenes/fondos/fondo4.jpg);
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}

header .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 80%;
  font-size: 4em;
  margin-top: 0em;
  margin-left: 1em;
  color: white;
}

header .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2em;
  text-align: center;
}

header .menu ul {
  margin: 0em;
  padding: 0em;
  background-color: rgba(0, 0, 0, 0.5);
}

header .menu ul li {
  height: 25%;
  display: block;
}

header .menu ul li a {
  height: 35%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 1em;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

header .menu ul li a:hover {
  background-color: #1a6922;
}

.padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  margin: auto;
  border-radius: 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.301);
  margin-top: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1a6922;
}

.padre .titulo {
  margin: auto;
  margin-top: 2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  height: 15%;
}

.padre .titulo h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7em;
}

.padre .informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 1em;
}

.padre .informacion .info_montar, .padre .informacion .info_mantenimiento, .padre .informacion .info_perifericos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.padre .informacion .info_montar .videos, .padre .informacion .info_montar .programas, .padre .informacion .info_mantenimiento .videos, .padre .informacion .info_mantenimiento .programas, .padre .informacion .info_perifericos .videos, .padre .informacion .info_perifericos .programas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-left: 3em;
}

.padre .informacion .info_montar .videos .titulo2, .padre .informacion .info_montar .programas .titulo2, .padre .informacion .info_mantenimiento .videos .titulo2, .padre .informacion .info_mantenimiento .programas .titulo2, .padre .informacion .info_perifericos .videos .titulo2, .padre .informacion .info_perifericos .programas .titulo2 {
  margin-top: 1em;
  text-align: center;
}

.padre .informacion .info_montar .videos .titulo2 h1, .padre .informacion .info_montar .programas .titulo2 h1, .padre .informacion .info_mantenimiento .videos .titulo2 h1, .padre .informacion .info_mantenimiento .programas .titulo2 h1, .padre .informacion .info_perifericos .videos .titulo2 h1, .padre .informacion .info_perifericos .programas .titulo2 h1 {
  margin: auto;
  font-size: 5em;
}

.padre .informacion .info_montar .videos .cosas, .padre .informacion .info_montar .programas .cosas, .padre .informacion .info_mantenimiento .videos .cosas, .padre .informacion .info_mantenimiento .programas .cosas, .padre .informacion .info_perifericos .videos .cosas, .padre .informacion .info_perifericos .programas .cosas {
  width: 100%;
  text-align: center;
}

.padre .informacion .info_montar .videos .cosas iframe, .padre .informacion .info_montar .programas .cosas iframe, .padre .informacion .info_mantenimiento .videos .cosas iframe, .padre .informacion .info_mantenimiento .programas .cosas iframe, .padre .informacion .info_perifericos .videos .cosas iframe, .padre .informacion .info_perifericos .programas .cosas iframe {
  width: 500;
  margin: 1em;
  margin-bottom: 2em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.padre .informacion .info_montar .videos .cosas iframe:hover, .padre .informacion .info_montar .programas .cosas iframe:hover, .padre .informacion .info_mantenimiento .videos .cosas iframe:hover, .padre .informacion .info_mantenimiento .programas .cosas iframe:hover, .padre .informacion .info_perifericos .videos .cosas iframe:hover, .padre .informacion .info_perifericos .programas .cosas iframe:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.padre .informacion .info_montar .videos .cosas p, .padre .informacion .info_montar .programas .cosas p, .padre .informacion .info_mantenimiento .videos .cosas p, .padre .informacion .info_mantenimiento .programas .cosas p, .padre .informacion .info_perifericos .videos .cosas p, .padre .informacion .info_perifericos .programas .cosas p {
  margin: auto;
  font-size: 2em;
  text-align: justify;
  width: 80%;
}

.padre .informacion .info_perifericos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padre .informacion .info_perifericos .descripcion {
  width: 100%;
}

.padre .informacion .info_perifericos .descripcion .titulo3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
}

.padre .informacion .info_perifericos .descripcion .titulo3 h1 {
  margin: auto;
  font-size: 5em;
}

.padre .informacion .info_perifericos .descripcion .titulo3 P {
  margin: auto;
  margin-top: 2em;
  font-size: 2em;
  text-align: justify;
  width: 90%;
}

.padre .informacion .info_perifericos .cosas .mouse, .padre .informacion .info_perifericos .cosas .teclado, .padre .informacion .info_perifericos .cosas .mouse-pad, .padre .informacion .info_perifericos .cosas .auriculares, .padre .informacion .info_perifericos .cosas .monitor {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.padre .informacion .info_perifericos .cosas .mouse .titulo3, .padre .informacion .info_perifericos .cosas .teclado .titulo3, .padre .informacion .info_perifericos .cosas .mouse-pad .titulo3, .padre .informacion .info_perifericos .cosas .auriculares .titulo3, .padre .informacion .info_perifericos .cosas .monitor .titulo3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: auto;
  margin-bottom: 2em;
}

.padre .informacion .info_perifericos .cosas .mouse .titulo3 h1, .padre .informacion .info_perifericos .cosas .teclado .titulo3 h1, .padre .informacion .info_perifericos .cosas .mouse-pad .titulo3 h1, .padre .informacion .info_perifericos .cosas .auriculares .titulo3 h1, .padre .informacion .info_perifericos .cosas .monitor .titulo3 h1 {
  margin: auto;
  font-size: 5em;
}

.padre .informacion .info_perifericos .cosas .mouse .titulo3 P, .padre .informacion .info_perifericos .cosas .teclado .titulo3 P, .padre .informacion .info_perifericos .cosas .mouse-pad .titulo3 P, .padre .informacion .info_perifericos .cosas .auriculares .titulo3 P, .padre .informacion .info_perifericos .cosas .monitor .titulo3 P {
  margin: auto;
  font-size: 2em;
  text-align: justify;
  width: 90%;
}

.padre .informacion .info_perifericos .cosas .mouse .imagen, .padre .informacion .info_perifericos .cosas .teclado .imagen, .padre .informacion .info_perifericos .cosas .mouse-pad .imagen, .padre .informacion .info_perifericos .cosas .auriculares .imagen, .padre .informacion .info_perifericos .cosas .monitor .imagen {
  width: 40%;
  margin: auto;
}

.padre .informacion .info_perifericos .cosas .mouse img, .padre .informacion .info_perifericos .cosas .teclado img, .padre .informacion .info_perifericos .cosas .mouse-pad img, .padre .informacion .info_perifericos .cosas .auriculares img, .padre .informacion .info_perifericos .cosas .monitor img {
  margin: auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.padre .informacion .info_perifericos .cosas .mouse img:hover, .padre .informacion .info_perifericos .cosas .teclado img:hover, .padre .informacion .info_perifericos .cosas .mouse-pad img:hover, .padre .informacion .info_perifericos .cosas .auriculares img:hover, .padre .informacion .info_perifericos .cosas .monitor img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  background: black;
  padding: 1em;
  font-size: 2.5em;
  text-align: center;
  margin-top: 2em;
}

@media screen and (max-width: 1100px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 34.2%;
    font-size: 3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0em 1em;
    margin-left: 6.5em;
    margin-top: 3em;
  }
  header .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 31%;
  }
  header .menu ul {
    width: 100%;
    height: 2.3em;
  }
  header .menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.4em;
  }
  .padre .informacion .info_montar .titulo2, .padre .informacion .info_mantenimiento .titulo2 {
    width: 90%;
    margin-left: 2em;
  }
  .padre .informacion .info_montar .videos, .padre .informacion .info_montar .programas, .padre .informacion .info_mantenimiento .videos, .padre .informacion .info_mantenimiento .programas {
    margin-left: 0%;
    width: 100%;
  }
  .padre .informacion .info_montar .videos .cosas iframe, .padre .informacion .info_montar .programas .cosas iframe, .padre .informacion .info_mantenimiento .videos .cosas iframe, .padre .informacion .info_mantenimiento .programas .cosas iframe {
    width: 90%;
    height: 31%;
  }
  .padre .informacion .info_perifericos .cosas .mouse .imagen img, .padre .informacion .info_perifericos .cosas .auriculares .imagen img, .padre .informacion .info_perifericos .cosas .mouse-pad .imagen img, .padre .informacion .info_perifericos .cosas .teclado .imagen img, .padre .informacion .info_perifericos .cosas .monitor .imagen img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-size: cover;
    background-position-y: 0em;
    background-position-x: -5em;
  }
  header .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45.2%;
    font-size: 2.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0em 1em;
    margin-left: 2em;
    margin-top: 5em;
  }
  header .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 31%;
  }
  header .menu ul {
    width: 100%;
    height: 1.4em;
  }
  header .menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.2em;
    font-size: 0.5em;
  }
  .padre .titulo {
    font-size: 0.7em;
  }
  .padre .informacion .info_montar, .padre .informacion .info_mantenimiento {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .padre .informacion .info_montar .videos, .padre .informacion .info_montar .programas, .padre .informacion .info_mantenimiento .videos, .padre .informacion .info_mantenimiento .programas {
    margin: auto;
    width: 95%;
  }
  .padre .informacion .info_montar .videos .cosas, .padre .informacion .info_montar .programas .cosas, .padre .informacion .info_mantenimiento .videos .cosas, .padre .informacion .info_mantenimiento .programas .cosas {
    width: 100%;
    margin: auto;
  }
  .padre .informacion .info_montar .videos .cosas iframe, .padre .informacion .info_montar .programas .cosas iframe, .padre .informacion .info_mantenimiento .videos .cosas iframe, .padre .informacion .info_mantenimiento .programas .cosas iframe {
    width: 90%;
    height: 20%;
  }
  .padre .informacion .info_perifericos .cosas .mouse, .padre .informacion .info_perifericos .cosas .mouse-pad, .padre .informacion .info_perifericos .cosas .teclado, .padre .informacion .info_perifericos .cosas .monitor, .padre .informacion .info_perifericos .cosas .auriculares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .padre .informacion .info_perifericos .cosas .mouse .titulo3, .padre .informacion .info_perifericos .cosas .mouse-pad .titulo3, .padre .informacion .info_perifericos .cosas .teclado .titulo3, .padre .informacion .info_perifericos .cosas .monitor .titulo3, .padre .informacion .info_perifericos .cosas .auriculares .titulo3 {
    width: 90%;
  }
  .padre .informacion .info_perifericos .cosas .mouse .titulo3 p, .padre .informacion .info_perifericos .cosas .mouse-pad .titulo3 p, .padre .informacion .info_perifericos .cosas .teclado .titulo3 p, .padre .informacion .info_perifericos .cosas .monitor .titulo3 p, .padre .informacion .info_perifericos .cosas .auriculares .titulo3 p {
    width: 100%;
  }
  .padre .informacion .info_perifericos .cosas .mouse .imagen, .padre .informacion .info_perifericos .cosas .mouse-pad .imagen, .padre .informacion .info_perifericos .cosas .teclado .imagen, .padre .informacion .info_perifericos .cosas .monitor .imagen, .padre .informacion .info_perifericos .cosas .auriculares .imagen {
    width: 100%;
  }
  .padre .informacion .info_perifericos .cosas .mouse .imagen img, .padre .informacion .info_perifericos .cosas .mouse-pad .imagen img, .padre .informacion .info_perifericos .cosas .teclado .imagen img, .padre .informacion .info_perifericos .cosas .monitor .imagen img, .padre .informacion .info_perifericos .cosas .auriculares .imagen img {
    width: 100%;
    height: 50%;
  }
  .padre .informacion .info_perifericos .cosas .teclado, .padre .informacion .info_perifericos .cosas .auriculares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=estilo_cuarto.css.map */