* {
  margin: 0%;
}

body {
  font-family: 'Teko', sans-serif;
  color: white;
  background-color: #F1E4E8;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../../imagenes/fondos/fondo2.jpg);
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position-y: -10em;
}

header .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 10%;
  height: 100%;
  font-size: 3.5em;
  padding: 1em 1em;
}

header .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 2em;
  text-align: center;
}

header .menu ul {
  margin: 0em;
  padding: 0em;
  background-color: rgba(0, 0, 0, 0.5);
}

header .menu ul li {
  height: 25%;
  display: block;
}

header .menu ul li a {
  height: 35%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 1em;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .menu ul li a:hover {
  background-color: #2f97c1;
}

footer {
  background: black;
  padding: 1em;
  font-size: 2.5em;
  text-align: center;
  margin-top: 2em;
}

.partes1, .partes2, .partes3 {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.partes1 h1, .partes2 h1, .partes3 h1 {
  margin-top: 1em;
  font-size: 2.3em;
}

.partes1 img, .partes2 img, .partes3 img {
  margin-top: 1em;
  border-radius: 200%;
}

.partes1 .procesador, .partes1 .ram, .partes1 .motherboard, .partes1 .fuente, .partes1 .disipador, .partes1 .disco, .partes1 .tarjeta, .partes1 .chasis, .partes1 .ventilador, .partes1 .refrigeracion, .partes2 .procesador, .partes2 .ram, .partes2 .motherboard, .partes2 .fuente, .partes2 .disipador, .partes2 .disco, .partes2 .tarjeta, .partes2 .chasis, .partes2 .ventilador, .partes2 .refrigeracion, .partes3 .procesador, .partes3 .ram, .partes3 .motherboard, .partes3 .fuente, .partes3 .disipador, .partes3 .disco, .partes3 .tarjeta, .partes3 .chasis, .partes3 .ventilador, .partes3 .refrigeracion {
  width: 23%;
  background: #2f97c1;
  margin: 1% 2%;
  text-align: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-radius: 10%;
  border: 0.15em solid rgba(0, 0, 0, 0.603);
}

.partes1 .disipador:hover, .partes1 .disco:hover, .partes1 .tarjeta:hover, .partes1 .chasis:hover, .partes1 .procesador:hover, .partes1 .ram:hover, .partes1 .motherboard:hover, .partes1 .fuente:hover, .partes1 .ventilador:hover, .partes1 .refrigeracion:hover, .partes2 .disipador:hover, .partes2 .disco:hover, .partes2 .tarjeta:hover, .partes2 .chasis:hover, .partes2 .procesador:hover, .partes2 .ram:hover, .partes2 .motherboard:hover, .partes2 .fuente:hover, .partes2 .ventilador:hover, .partes2 .refrigeracion:hover, .partes3 .disipador:hover, .partes3 .disco:hover, .partes3 .tarjeta:hover, .partes3 .chasis:hover, .partes3 .procesador:hover, .partes3 .ram:hover, .partes3 .motherboard:hover, .partes3 .fuente:hover, .partes3 .ventilador:hover, .partes3 .refrigeracion:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.informacion_1, .informacion_2, .informacion_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.informacion_1 .informacion1, .informacion_1 .informacion2, .informacion_1 .informacion3, .informacion_1 .informacion4, .informacion_1 .informacion5, .informacion_1 .informacion6, .informacion_1 .informacion7, .informacion_1 .informacion8, .informacion_1 .informacion9, .informacion_1 .informacion10, .informacion_2 .informacion1, .informacion_2 .informacion2, .informacion_2 .informacion3, .informacion_2 .informacion4, .informacion_2 .informacion5, .informacion_2 .informacion6, .informacion_2 .informacion7, .informacion_2 .informacion8, .informacion_2 .informacion9, .informacion_2 .informacion10, .informacion_3 .informacion1, .informacion_3 .informacion2, .informacion_3 .informacion3, .informacion_3 .informacion4, .informacion_3 .informacion5, .informacion_3 .informacion6, .informacion_3 .informacion7, .informacion_3 .informacion8, .informacion_3 .informacion9, .informacion_3 .informacion10 {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  background: #2f97c1;
  border-radius: 2em;
  border: 0.15em solid black;
}

.informacion_1 .texto, .informacion_2 .texto, .informacion_3 .texto {
  width: 50%;
}

.informacion_1 .texto p, .informacion_2 .texto p, .informacion_3 .texto p {
  margin: 3.5em;
  font-size: 2em;
  text-align: justify;
}

.informacion_1 .texto h1, .informacion_2 .texto h1, .informacion_3 .texto h1 {
  text-align: center;
  margin-top: 0.2em;
  font-size: 4em;
  margin-bottom: -1em;
}

.informacion_1 .marcas, .informacion_2 .marcas, .informacion_3 .marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.informacion_1 .marcas h1, .informacion_2 .marcas h1, .informacion_3 .marcas h1 {
  text-align: center;
  margin-top: 0.2em;
  font-size: 4em;
  margin-bottom: -0.5em;
}

.informacion_1 .marcas .imagenes, .informacion_2 .marcas .imagenes, .informacion_3 .marcas .imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.informacion_1 .marcas .imagenes img, .informacion_2 .marcas .imagenes img, .informacion_3 .marcas .imagenes img {
  margin-top: 3em;
  margin-bottom: 2em;
  margin-right: 3em;
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1100px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-position-y: 0em;
  }
  header .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 34.2%;
    font-size: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0em 1em;
    margin-left: 9em;
    margin-top: 11em;
  }
  header .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 30%;
  }
  header .menu ul {
    width: 100%;
    height: 2.3em;
  }
  header .menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.4em;
  }
  .partes1 img, .partes2 img, .partes3 img {
    margin-top: 1em;
    border-radius: 200%;
    width: 100%;
  }
  .informacion_1, .informacion_2, .informacion_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .informacion_1 .informacion1, .informacion_1 .informacion2, .informacion_1 .informacion3, .informacion_1 .informacion4, .informacion_1 .informacion5, .informacion_1 .informacion6, .informacion_1 .informacion7, .informacion_1 .informacion8, .informacion_1 .informacion9, .informacion_1 .informacion10, .informacion_2 .informacion1, .informacion_2 .informacion2, .informacion_2 .informacion3, .informacion_2 .informacion4, .informacion_2 .informacion5, .informacion_2 .informacion6, .informacion_2 .informacion7, .informacion_2 .informacion8, .informacion_2 .informacion9, .informacion_2 .informacion10, .informacion_3 .informacion1, .informacion_3 .informacion2, .informacion_3 .informacion3, .informacion_3 .informacion4, .informacion_3 .informacion5, .informacion_3 .informacion6, .informacion_3 .informacion7, .informacion_3 .informacion8, .informacion_3 .informacion9, .informacion_3 .informacion10 {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    background: #2f97c1;
    border-radius: 2em;
    border: 0.3em solid black;
  }
  .informacion_1 .texto, .informacion_2 .texto, .informacion_3 .texto {
    width: 50%;
  }
  .informacion_1 .texto p, .informacion_2 .texto p, .informacion_3 .texto p {
    margin: 2em;
    font-size: 1.7em;
    text-align: justify;
  }
  .informacion_1 .texto h1, .informacion_2 .texto h1, .informacion_3 .texto h1 {
    text-align: center;
    margin-top: 0.2em;
    font-size: 3em;
    margin-bottom: -1em;
  }
  .informacion_1 .marcas, .informacion_2 .marcas, .informacion_3 .marcas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .informacion_1 .marcas h1, .informacion_2 .marcas h1, .informacion_3 .marcas h1 {
    text-align: center;
    margin-top: 0.2em;
    font-size: 3em;
    margin-bottom: -0.5em;
  }
  .informacion_1 .marcas .imagenes, .informacion_2 .marcas .imagenes, .informacion_3 .marcas .imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .informacion_1 .marcas .imagenes img, .informacion_2 .marcas .imagenes img, .informacion_3 .marcas .imagenes img {
    margin-top: 2em;
    margin-bottom: 0em;
    margin-right: 3em;
    width: 60%;
    height: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-size: cover;
    background-position-y: -0.1em;
    background-position-x: -5em;
  }
  header .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35.2%;
    font-size: 1.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0em 1em;
    margin-left: 4.5em;
    margin-top: 8em;
  }
  header .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 31%;
  }
  header .menu ul {
    width: 100%;
    height: 1.4em;
  }
  header .menu ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.2em;
    font-size: 0.5em;
  }
  .partes1, .partes2, .partes3 {
    width: 90%;
    margin: auto;
    margin-left: 1.3em;
    margin-top: .5em;
  }
  .partes1 h1, .partes2 h1, .partes3 h1 {
    font-size: 1em;
  }
  .informacion_1, .informacion_2, .informacion_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: auto;
  }
  .informacion_1 .informacion1, .informacion_1 .informacion2, .informacion_1 .informacion3, .informacion_1 .informacion4, .informacion_1 .informacion5, .informacion_1 .informacion6, .informacion_1 .informacion7, .informacion_1 .informacion8, .informacion_1 .informacion9, .informacion_1 .informacion10, .informacion_2 .informacion1, .informacion_2 .informacion2, .informacion_2 .informacion3, .informacion_2 .informacion4, .informacion_2 .informacion5, .informacion_2 .informacion6, .informacion_2 .informacion7, .informacion_2 .informacion8, .informacion_2 .informacion9, .informacion_2 .informacion10, .informacion_3 .informacion1, .informacion_3 .informacion2, .informacion_3 .informacion3, .informacion_3 .informacion4, .informacion_3 .informacion5, .informacion_3 .informacion6, .informacion_3 .informacion7, .informacion_3 .informacion8, .informacion_3 .informacion9, .informacion_3 .informacion10 {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .informacion_1 .informacion1 .texto, .informacion_1 .informacion2 .texto, .informacion_1 .informacion3 .texto, .informacion_1 .informacion4 .texto, .informacion_1 .informacion5 .texto, .informacion_1 .informacion6 .texto, .informacion_1 .informacion7 .texto, .informacion_1 .informacion8 .texto, .informacion_1 .informacion9 .texto, .informacion_1 .informacion10 .texto, .informacion_2 .informacion1 .texto, .informacion_2 .informacion2 .texto, .informacion_2 .informacion3 .texto, .informacion_2 .informacion4 .texto, .informacion_2 .informacion5 .texto, .informacion_2 .informacion6 .texto, .informacion_2 .informacion7 .texto, .informacion_2 .informacion8 .texto, .informacion_2 .informacion9 .texto, .informacion_2 .informacion10 .texto, .informacion_3 .informacion1 .texto, .informacion_3 .informacion2 .texto, .informacion_3 .informacion3 .texto, .informacion_3 .informacion4 .texto, .informacion_3 .informacion5 .texto, .informacion_3 .informacion6 .texto, .informacion_3 .informacion7 .texto, .informacion_3 .informacion8 .texto, .informacion_3 .informacion9 .texto, .informacion_3 .informacion10 .texto {
    width: 100%;
  }
  .informacion_1 .informacion1 h1, .informacion_1 .informacion2 h1, .informacion_1 .informacion3 h1, .informacion_1 .informacion4 h1, .informacion_1 .informacion5 h1, .informacion_1 .informacion6 h1, .informacion_1 .informacion7 h1, .informacion_1 .informacion8 h1, .informacion_1 .informacion9 h1, .informacion_1 .informacion10 h1, .informacion_2 .informacion1 h1, .informacion_2 .informacion2 h1, .informacion_2 .informacion3 h1, .informacion_2 .informacion4 h1, .informacion_2 .informacion5 h1, .informacion_2 .informacion6 h1, .informacion_2 .informacion7 h1, .informacion_2 .informacion8 h1, .informacion_2 .informacion9 h1, .informacion_2 .informacion10 h1, .informacion_3 .informacion1 h1, .informacion_3 .informacion2 h1, .informacion_3 .informacion3 h1, .informacion_3 .informacion4 h1, .informacion_3 .informacion5 h1, .informacion_3 .informacion6 h1, .informacion_3 .informacion7 h1, .informacion_3 .informacion8 h1, .informacion_3 .informacion9 h1, .informacion_3 .informacion10 h1 {
    font-size: 2em;
  }
  .informacion_1 .informacion1 p, .informacion_1 .informacion2 p, .informacion_1 .informacion3 p, .informacion_1 .informacion4 p, .informacion_1 .informacion5 p, .informacion_1 .informacion6 p, .informacion_1 .informacion7 p, .informacion_1 .informacion8 p, .informacion_1 .informacion9 p, .informacion_1 .informacion10 p, .informacion_2 .informacion1 p, .informacion_2 .informacion2 p, .informacion_2 .informacion3 p, .informacion_2 .informacion4 p, .informacion_2 .informacion5 p, .informacion_2 .informacion6 p, .informacion_2 .informacion7 p, .informacion_2 .informacion8 p, .informacion_2 .informacion9 p, .informacion_2 .informacion10 p, .informacion_3 .informacion1 p, .informacion_3 .informacion2 p, .informacion_3 .informacion3 p, .informacion_3 .informacion4 p, .informacion_3 .informacion5 p, .informacion_3 .informacion6 p, .informacion_3 .informacion7 p, .informacion_3 .informacion8 p, .informacion_3 .informacion9 p, .informacion_3 .informacion10 p {
    font-size: 1.4em;
  }
  .informacion_1 .informacion1 .marcas, .informacion_1 .informacion2 .marcas, .informacion_1 .informacion3 .marcas, .informacion_1 .informacion4 .marcas, .informacion_1 .informacion5 .marcas, .informacion_1 .informacion6 .marcas, .informacion_1 .informacion7 .marcas, .informacion_1 .informacion8 .marcas, .informacion_1 .informacion9 .marcas, .informacion_1 .informacion10 .marcas, .informacion_2 .informacion1 .marcas, .informacion_2 .informacion2 .marcas, .informacion_2 .informacion3 .marcas, .informacion_2 .informacion4 .marcas, .informacion_2 .informacion5 .marcas, .informacion_2 .informacion6 .marcas, .informacion_2 .informacion7 .marcas, .informacion_2 .informacion8 .marcas, .informacion_2 .informacion9 .marcas, .informacion_2 .informacion10 .marcas, .informacion_3 .informacion1 .marcas, .informacion_3 .informacion2 .marcas, .informacion_3 .informacion3 .marcas, .informacion_3 .informacion4 .marcas, .informacion_3 .informacion5 .marcas, .informacion_3 .informacion6 .marcas, .informacion_3 .informacion7 .marcas, .informacion_3 .informacion8 .marcas, .informacion_3 .informacion9 .marcas, .informacion_3 .informacion10 .marcas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .informacion_1 .informacion1 .marcas .imagenes, .informacion_1 .informacion2 .marcas .imagenes, .informacion_1 .informacion3 .marcas .imagenes, .informacion_1 .informacion4 .marcas .imagenes, .informacion_1 .informacion5 .marcas .imagenes, .informacion_1 .informacion6 .marcas .imagenes, .informacion_1 .informacion7 .marcas .imagenes, .informacion_1 .informacion8 .marcas .imagenes, .informacion_1 .informacion9 .marcas .imagenes, .informacion_1 .informacion10 .marcas .imagenes, .informacion_2 .informacion1 .marcas .imagenes, .informacion_2 .informacion2 .marcas .imagenes, .informacion_2 .informacion3 .marcas .imagenes, .informacion_2 .informacion4 .marcas .imagenes, .informacion_2 .informacion5 .marcas .imagenes, .informacion_2 .informacion6 .marcas .imagenes, .informacion_2 .informacion7 .marcas .imagenes, .informacion_2 .informacion8 .marcas .imagenes, .informacion_2 .informacion9 .marcas .imagenes, .informacion_2 .informacion10 .marcas .imagenes, .informacion_3 .informacion1 .marcas .imagenes, .informacion_3 .informacion2 .marcas .imagenes, .informacion_3 .informacion3 .marcas .imagenes, .informacion_3 .informacion4 .marcas .imagenes, .informacion_3 .informacion5 .marcas .imagenes, .informacion_3 .informacion6 .marcas .imagenes, .informacion_3 .informacion7 .marcas .imagenes, .informacion_3 .informacion8 .marcas .imagenes, .informacion_3 .informacion9 .marcas .imagenes, .informacion_3 .informacion10 .marcas .imagenes {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .informacion_1 .informacion1 .marcas .imagenes img, .informacion_1 .informacion2 .marcas .imagenes img, .informacion_1 .informacion3 .marcas .imagenes img, .informacion_1 .informacion4 .marcas .imagenes img, .informacion_1 .informacion5 .marcas .imagenes img, .informacion_1 .informacion6 .marcas .imagenes img, .informacion_1 .informacion7 .marcas .imagenes img, .informacion_1 .informacion8 .marcas .imagenes img, .informacion_1 .informacion9 .marcas .imagenes img, .informacion_1 .informacion10 .marcas .imagenes img, .informacion_2 .informacion1 .marcas .imagenes img, .informacion_2 .informacion2 .marcas .imagenes img, .informacion_2 .informacion3 .marcas .imagenes img, .informacion_2 .informacion4 .marcas .imagenes img, .informacion_2 .informacion5 .marcas .imagenes img, .informacion_2 .informacion6 .marcas .imagenes img, .informacion_2 .informacion7 .marcas .imagenes img, .informacion_2 .informacion8 .marcas .imagenes img, .informacion_2 .informacion9 .marcas .imagenes img, .informacion_2 .informacion10 .marcas .imagenes img, .informacion_3 .informacion1 .marcas .imagenes img, .informacion_3 .informacion2 .marcas .imagenes img, .informacion_3 .informacion3 .marcas .imagenes img, .informacion_3 .informacion4 .marcas .imagenes img, .informacion_3 .informacion5 .marcas .imagenes img, .informacion_3 .informacion6 .marcas .imagenes img, .informacion_3 .informacion7 .marcas .imagenes img, .informacion_3 .informacion8 .marcas .imagenes img, .informacion_3 .informacion9 .marcas .imagenes img, .informacion_3 .informacion10 .marcas .imagenes img {
    width: 30%;
    height: 20%;
  }
}
/*# sourceMappingURL=estilo_segundo.css.map */